html,
        body {
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        .cartao {
            width: 15rem;
            height: 30.3rem;
            padding: 1rem;
            margin: 1rem auto;
            border-radius: .7rem;
            border: .1rem #c9c7c7 solid;
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }

        .titulo {
            margin: 0 0 1rem 0;
        }

        footer {
            display: flex;
            justify-content: space-evenly;
        }

        button {
            color: white;
            padding: .3rem 2rem;
            background-color: blue;
            border: none;
        }