.painel {

    display: flex;
    text-align: center;
}

.cartao {
    
    background-color: aquamarine;
    width: 21rem;
    height: 22rem;
    padding: 1rem;
    margin: auto;
    margin-top: 100px;
    border-radius: 3rem;
    border: 6px #9b8989 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;    

    
}

h1 {
    text-align: center;
    font-size:large;
    margin-bottom: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
    text-align: center;
    font-size: small;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#conta{
    margin-left: 45px;
}

#senha{
    margin-left: 45px;
    margin-bottom: 4px;
}

#botoes{
    margin-left: 20px;
}

#botoes2{
    margin-left: 65px;
}

.cartao2 {
    
    background-color: aquamarine;
    width: 21rem;
    height: 32rem;
    padding: 1rem;
    margin-top: 40px;
    margin-left: 30.5rem ;
    margin-right: 10rem ;
    margin-bottom: 10rem ;
    border-radius: 3rem;
    border: 6px #9b8989 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: fixed;
    img {
        width: 30;
        height: auto;
    }
}
.cartao3 {
    width: 400px;
    height: 30px;
    padding: 1rem;
    margin: 10rem auto;
    border-radius: 3rem;
    border: 6px #9b8989 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    img {
        height: 28rem;
        width: 25rem;
        border: 2px red solid;
        }
}

.cartao4 {
    background-color: #665f5f;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 3rem;
    border: 6px #413131 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    img {
        width: 30;
        height: auto;
    }


    
}
.cartao5 {
    background-color: #665f5f;
    width: 15rem;
    height: 40rem;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 3rem;
    border: 6px #413131 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    img {
        width: 30;
        height: auto;
    }
    button {
        border-radius: 10px; /* Valor do raio do arredondamento das bordas, você pode ajustar conforme necessário. */
      }



    
}
.cartao6 {
    background-color: #665f5f;
    width: 15rem;
    height: 2rem;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 3rem;
    border: 6px #413131 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    img {
        width: 30;
        height: auto;
    }



    
}

input{
    width: 200px;
}


