td{
    vertical-align: top;
}
td{ text-align: center;
}
tr:hover {
    background-color: #cad1df !important;
    color: #f18a04;
    font-weight: bold;

    font-size: 1.5rem;
    background-color: rgb(107, 101, 92);
}

tr:nth-child(even) {
    background-color: #8b9dc3;
}

tr:nth-child(odd) {
    background-color: #dfe3ee;
}
#terceira0{
    background-color: rgb(84, 110, 182);
}

#terceira{
    background-color: rgb(139, 204, 204);
}

#terceira2{
    background-color: rgb(151, 224, 144);
    font-style: italic;
}