#logonav {
    border-width: 5px;
    color: aqua;
    
}

#titulo2{
    font-size: 50px;
    text-align: center;
    font-family: Righteous;
    color: white;
    margin-right: 117px;
}

#menubtn {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 0px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
  }
  
  #menubtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #menubtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #menubtn:hover span {
    padding-right: 25px;
  }
  
  #menubtn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .closebtn:hover{
    color: white;
  }

  /* Style the sidenav links and the dropdown button */
  .dropdown-btn {
    background-color: transparent;
    border: none;
    color: #03fcf4;
    font-size: 28px;
    padding: 0px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    width: 550px;
}

.dropdown-btn:hover  {
  background-color: #000000;
  color: rgb(255, 0, 0);
}

.dropdown-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dropdown-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dropdown-btn:hover span {
  padding-right: 25px;
}

.dropdown-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* On mouse-over */
.dropdown-btn:hover {
    background-color: #ce605c;
  color: black;
}

.dropdown-container a:hover{
  color: rgb(255, 75, 75);
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
