.produto {
    width: 14.7rem;
    height: 30.3rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: .7rem;
    border: .1rem #c9c7c7 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    
}
.titulo {
    margin: 0 0 1rem 0;
}

footer {
    display: flex;
    justify-content: space-between;
}
button {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blue;
    transition-duration: 0.4s;
    border-radius: 50px;
    border: none;
}

button:hover {
    background-color: #4CAF50;
    color: white;
  }